XCOMM ****************************************************************
XCOMM * Start lclib/config/lclib.tmpl
XCOMM ****************************************************************
#include "config/configure.in"
XCOMM PYTHIA_VERSION = 5
XCOMM PYTHIA_LIB = -L$(CERN_ROOT)/lib -ljetset74
XCOMM PYTHIA_FLAGS =

SOREV = 05a

ifeq (X$(shell uname -m),Xi386)
MYENDIANFLAG    = -DITTLE_ENDIAN
else
MYENDIANFLAG    = 
endif
ifeq (X$(shell uname -m),Xx86_64)
MYENDIANFLAG    = -DITTLE_ENDIAN
endif

BUILDBITS = $(shell jsf-config --bits)

XCOMM ****************************************************************
XCOMM AIXArchitecture
XCOMM ****************************************************************
#if defined(AIXArchitecture)
/* 01/01/19  A.Miyamoto for jlc.cc        */
#ifndef DOSHRLIB
#define DOSHRLIB
#endif
SHRLIBFLAGS = 
.SUFFIXES: .F
.F.o :
	$(FF) -c $(FFLAGS) $(INCPATH) $*.F -o $*.o
CDEBUGFLAGS = -O
CFLAGS	= $(CDEBUGFLAGS) -DAIX -DKEK -DUNIX -DJLC \
	$(EXTRADEFINES) $(SHRLIBFLAGS) $(INCPATH)
FDEBUGFLAGS = -O3 -qstrict -qarch=pwr3 -qextname -qfixed -qsave  -qinitauto \
	-brtl -bshared 
FFLAGS	= $(FDEBUGFLAGS) -WF,-DKEK,-DUNIX,-DJLC,-DAIX \
	$(PYTHIA_FLAGS_AIX) $(EXTRADEFINES)  $(SHRLIBFLAGS)
FFLAGSE	= $(EXTRADEFINES) $(SHRLIBFLAGS) 
CC      = cc
FF	= f90
RANLIB  = /usr/bin/ranlib
INSTALL = cp
INSTALLFLAGS = 
INSTLIBFLAGS = 
#endif


XCOMM ****************************************************************
XCOMM HPArchitecture
XCOMM ****************************************************************
#if defined(HPArchitecture)
/* 99/05/25 K.Fujii     Don't create shared lib.          */
/*                      Just create *.a with a PIC flag   */
/* #define DOSHRLIB */
#ifndef ENABLESHARED
#ifdef DOSHRLIB
#undef DOSHRLIB
#endif
#else
#ifndef DOSHRLIB
#define DOSHRLIB
#endif
#endif
SHRLIBFLAGS = +Z
.SUFFIXES: .F
.F.o :
	$(FF) -c $(FFLAGS) $(INCPATH) $*.F -o $*.o
CDEBUGFLAGS = -O
CFLAGS	= $(CDEBUGFLAGS) -DHP -DKEK -DUNIX -DJLC \
	$(EXTRADEFINES) $(SHRLIBFLAGS) $(INCPATH)
FDEBUGFLAGS = +O0
FFLAGS	= $(FDEBUGFLAGS) -DHP -DKEK -DUNIX -DJLC -K +ppu -WF,-UPWB \
	$(PYTHIA_FLAGS) $(EXTRADEFINES)  $(SHRLIBFLAGS) $(PYTHIA_FLAGS) 
FFLAGSE	= -DHP -DKEK -DUNIX -DJLC -K +e -WF,-UPWB \
	$(EXTRADEFINES)  $(SHRLIBFLAGS)
CC      = cc
FF	= f77
RANLIB  = /bin/ranlib
INSTALL = install
#endif

XCOMM ****************************************************************
XCOMM hitachiArchitecture
XCOMM (note)
XCOMM Important Flags
XCOMM F77FORTRAN : Create libraries using f77 compiler
XCOMM F90FORTRAN : Create libraries using f90 compiler
XCOMM DOSHRLIB   : Create shared libraries  
XCOMM   default setting is define F90FORTRAN and DOSHRLIB
XCOMM ****************************************************************
#if defined(hitachiArchitecture)
XCOMM TO change configuration , edit following three lines properly.
XCOMM #define F77FORTRAN
#define F90FORTRAN
#define DOSHRLIB

XCOMM #include "hitachi.def"
#endif


XCOMM ****************************************************************
XCOMM MachTenPPCArchitecture
XCOMM ****************************************************************
#if defined(MachTenPPCArchitecture)
CFLAGS = -O -DUNIX -DKEK -DJLC -DMACHTEN_PPC $(EXTRADEFINES) $(INCPATH)
FFLAGS = -O -fno-automatic -DUNIX -DKEK -DJLC -DMACHTEN_PPC $(EXTRADEFINES) \
	$(INCPATH)
RANLIB = ranlib
#endif

XCOMM ****************************************************************
XCOMM PPCArchitecture
XCOMM ****************************************************************
#if defined(PowerPCArchitecture)
#ifndef PPCArchitecture
#define PPCArchitecture
#endif
#endif
#if defined(PPCArchitecture)
#ifndef ENABLESHARED
#ifdef DOSHRLIB
#undef DOSHRLIB
#endif
#else
#ifndef DOSHRLIB
#define DOSHRLIB
#endif
#endif
#ifdef DOSHRLIB
REQUIREDLIBS = -lg2c -lm -lc -rdynamic
#endif
SHRLIBFLAGS = -fPIC
CDEBUGFLAGS = -O2
CFLAGS = $(CDEBUGFLAGS) \
	-fno-strength-reduce -fomit-frame-pointer $(SHRLIBFLAGS) \
	-DUNIX -DKEK -DJLC -DMACHTEN_PPC \
	-Dlinux -DPPC -D__powerpc__ -D_POSIX_SOURCE \
	-D_BSD_SOURCE -D_GNU_SOURCE -DX_LOCALE $(EXTRADEFINES) $(INCPATH)	
FDEBUGFLAGS =  -O2
FFLAGS = $(FDEBUGFLAGS) \
        -fdollar-ok -fno-backslash -fno-automatic -fno-f90 -fugly-complex \
        -fno-globals -fugly-init -Wno-globals \
	-fno-second-underscore \
        $(SHRLIBFLAGS) \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC -DG77_521_OR_GREATER \
	$(PYTHIA_FLAGS) $(EXTRADEFINES) $(INCPATH)
CC = gcc
FF = g77
RANLIB = ranlib
#endif




XCOMM ****************************************************************
XCOMM MacOSXArchitecture
XCOMM ****************************************************************
#if defined(MacOSXArchitecture) || defined(DarwinArchitecture)
#ifndef PowerPCArchitecture
#define PowerPCArchitecture
#endif
#ifndef PPCArchitecture
#define PPCArchitecture
#endif

#if defined(PPCArchitecture)
#ifdef DOSHRLIB
#undef DOSHRLIB
#endif
#endif

#ifdef DOSHRLIB
ifneq ($(shell which gfortran 2>&1 | grep -vc 'no gfortran'),0)
REQUIREDLIBS =  -lgfortran -lgfortranbegin -lm -lc
else
REQUIREDLIBS =  -lg2c -lm -lc
endif
#endif

SHRLIBFLAGS = -fPIC
CDEBUGFLAGS = -O
FDEBUGFLAGS =  -O
ifneq ($(shell which gfortran 2>&1 | grep -vc 'no gfortran'),0)
CFLAGS = $(BUILDBITS) $(CDEBUGFLAGS) \
	-fno-strength-reduce -fomit-frame-pointer $(SHRLIBFLAGS) \
	-DUNIX -DKEK -DJLC -DMACHTEN_PPC -D__DARWIN__ \
	-Dlinux -DPPC -D__powerpc__ -D__GFORTRAN__ $(MYENDIANFLAG) \
	-DX_LOCALE $(EXTRADEFINES) $(INCPATH)	
FFLAGS = $(BUILDBITS) $(FDEBUGFLAGS) -fPIC \
        -fdollar-ok -fno-backslash -fno-automatic \
	-fno-second-underscore /* -ftree-vectorize */ \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC -D__DARWIN__ -DG77_521_OR_GREATER \
	-D__GFORTRAN__ \
	$(PYTHIA_FLAGS) $(EXTRADEFINES) $(INCPATH)
FC = gfortran
else
CFLAGS = $(CDEBUGFLAGS) \
	-fno-strength-reduce -fomit-frame-pointer $(SHRLIBFLAGS) \
	-DUNIX -DKEK -DJLC -DMACHTEN_PPC -D__DARWIN__ \
	-Dlinux -DPPC -D__powerpc__ \
	-DX_LOCALE $(EXTRADEFINES) $(INCPATH)	
FFLAGS = $(FDEBUGFLAGS) -fPIC \
        -fdollar-ok -fno-backslash -fno-automatic \
	-fno-second-underscore \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC -D__DARWIN__ -DG77_521_OR_GREATER \
	$(PYTHIA_FLAGS) $(EXTRADEFINES) $(INCPATH)
FC = g77
endif
CC = cc
FF = $(FC)
RANLIB = ranlib
INSTALLFLAGS = -C
#endif



XCOMM ****************************************************************
XCOMM LinuxArchitecture
XCOMM ****************************************************************
#if !defined(PPCArchitecture) && defined(LinuxArchitecture)
JSFCONFIGFC = $(shell jsf-config --fc)
#ifndef ENABLESHARED
#ifdef DOSHRLIB
#undef DOSHRLIB
#endif
#else
#ifndef DOSHRLIB
#define DOSHRLIB
#endif
#endif
#ifdef DOSHRLIB

XCOMM ifneq ($(shell which gfortran 2>&1 | grep -vc 'no gfortran'),0)
ifeq ($(JSFCONFIGFC),gfortran)
REQUIREDLIBS =  -lgfortran -lgfortranbegin -lm -lc -rdynamic
else
REQUIREDLIBS = -lg2c -lm -lc -rdynamic
endif
#endif
SHRLIBFLAGS = -fPIC
CDEBUGFLAGS = -O2 $(BUILDBITS)
XCOMM ifneq ($(shell which gfortran 2>&1 | grep -vc 'no gfortran'),0)
ifeq ($(JSFCONFIGFC),gfortran)
CFLAGS = $(CDEBUGFLAGS) \
        -fno-strength-reduce -fomit-frame-pointer $(SHRLIBFLAGS) \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC $(MYENDIANFLAG) \
	-DGNU_SOURCE -D__GFORTRAN__ -DX_LOCALE $(EXTRADEFINES) $(INCPATH)
FDEBUGFLAGS =  -O2 $(BUILDBITS)
FFLAGS = $(FDEBUGFLAGS) \
        -fdollar-ok -fno-backslash -fno-automatic \
	-fno-second-underscore \
        $(SHRLIBFLAGS) $(MYENDIANFLAG) \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC -DG77_521_OR_GREATER \
	-D__GFORTRAN__ \
	$(PYTHIA_FLAGS) $(EXTRADEFINES) $(INCPATH)
FC = gfortran
else
CFLAGS = $(CDEBUGFLAGS) \
        -fno-strength-reduce -fomit-frame-pointer $(SHRLIBFLAGS) \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC $(MYENDIANFLAG) \
	-DGNU_SOURCE -DX_LOCALE $(EXTRADEFINES) $(INCPATH)
FDEBUGFLAGS =  -O2 $(BUILDBITS)
FFLAGS = $(FDEBUGFLAGS) \
        -fdollar-ok -fno-backslash -fno-automatic -fno-f90 -fugly-complex \
        -fno-globals -fugly-init -Wno-globals \
	-fno-second-underscore \
        $(SHRLIBFLAGS) $(MYENDIANFLAG) \
        -DUNIX -DKEK -DJLC -DMACHTEN_PPC -DG77_521_OR_GREATER \
	$(PYTHIA_FLAGS) $(EXTRADEFINES) $(INCPATH)
FC = g77
endif
CC = gcc
FF = $(FC)
RANLIB = ranlib
#endif

ifeq ($(FC),gfortran)
GCCMAJVER = $(shell gcc -dumpversion 2>/dev/null | sed -e 's;\([0-9]*\)\.\([0-9]*\)\.\([0-9]*\);\1;')
GCCMINVER = $(shell gcc -dumpversion 2>/dev/null | sed -e 's;\([0-9]*\)\.\([0-9]*\)\.\([0-9]*\);\2;')
ifeq ($(GCCMAJVER),4)
ifneq ($(GCCMINVER),0)
ifneq ($(GCCMINVER),1)
FFLAGS += -fno-range-check
endif
endif
endif
endif
XCOMM ****************************************************************
XCOMM * ENd of lclib/config/lclib.tmpl
XCOMM ****************************************************************
